.mediaViewInfo {
	--web-view-name: Home;
	--web-view-id: Home;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-application: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Home;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Home {
	position: absolute;
	width: 1920px;
	height: 1080px;
	background-color: rgba(227,234,249,1);
	overflow: hidden;
	--web-view-name: Home;
	--web-view-id: Home;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-application: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Hero_section {
	fill: rgba(255,255,255,1);
}
.Hero_section {
	filter: drop-shadow(2px 3px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 1734px;
	height: 390px;
	left: 108px;
	top: 139px;
}
#Category_Cards {
	position: absolute;
	width: 1584px;
	height: 339px;
	left: 168px;
	top: 659px;
	overflow: visible;
}
#Master_Card {
	position: absolute;
	width: 291px;
	height: 339px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Card_base {
	fill: rgba(255,255,255,1);
}
.Card_base {
	filter: drop-shadow(2px 3px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 321px;
	height: 369px;
	left: 0px;
	top: 0px;
}
#Button {
	position: absolute;
	width: 128px;
	height: 42px;
	left: 82px;
	top: 273px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: view;
	--web-action-target: Books;
	cursor: pointer;
}
#btn {
	fill: rgba(255,117,117,1);
}
.btn {
	position: absolute;
	overflow: visible;
	width: 128px;
	height: 42px;
	left: 0px;
	top: 0px;
}
#Visit {
	left: 27px;
	top: 8px;
	position: absolute;
	overflow: visible;
	width: 74px;
	height: 27px;
	text-align: center;
	font-family: Gotham;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Not_sure_about_what_to_read_ne {
	left: 25px;
	top: 199px;
	position: absolute;
	overflow: visible;
	width: 244px;
	height: 67px;
	text-align: left;
	font-family: Gotham;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(0,0,0,1);
}
#Books {
	left: 111px;
	top: 170px;
	position: absolute;
	overflow: visible;
	width: 70px;
	height: 22px;
	text-align: center;
	font-family: Gotham;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#OOUIL_2 {
	position: absolute;
	width: 291px;
	height: 157px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Card_2 {
	position: absolute;
	width: 291px;
	height: 339px;
	left: 431px;
	top: 0px;
	overflow: visible;
}
#Card_base_ {
	fill: rgba(255,255,255,1);
}
.Card_base_ {
	filter: drop-shadow(2px 3px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 321px;
	height: 369px;
	left: 0px;
	top: 0px;
}
#Button_ {
	position: absolute;
	width: 128px;
	height: 42px;
	left: 82px;
	top: 273px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: view;
	--web-action-target: Movies;
	cursor: pointer;
}
#btn_ {
	fill: rgba(255,117,117,1);
}
.btn_ {
	position: absolute;
	overflow: visible;
	width: 128px;
	height: 42px;
	left: 0px;
	top: 0px;
}
#Visit_ {
	left: 27px;
	top: 8px;
	position: absolute;
	overflow: visible;
	width: 74px;
	height: 27px;
	text-align: center;
	font-family: Gotham;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Obsessed_with_a_movie_so_much_ {
	left: 25px;
	top: 199px;
	position: absolute;
	overflow: visible;
	width: 244px;
	height: 67px;
	text-align: left;
	font-family: Gotham;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(0,0,0,1);
}
#Movies {
	left: 107px;
	top: 170px;
	position: absolute;
	overflow: visible;
	width: 78px;
	height: 22px;
	text-align: center;
	font-family: Gotham;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Free_Guy {
	position: absolute;
	width: 291px;
	height: 157px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Card_3 {
	position: absolute;
	width: 291px;
	height: 339px;
	left: 862px;
	top: 0px;
	overflow: visible;
}
#Card_base_bb {
	fill: rgba(255,255,255,1);
}
.Card_base_bb {
	filter: drop-shadow(2px 3px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 321px;
	height: 369px;
	left: 0px;
	top: 0px;
}
#Button_bc {
	position: absolute;
	width: 128px;
	height: 42px;
	left: 82px;
	top: 273px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: view;
	--web-action-target: TV_Shows;
	cursor: pointer;
}
#btn_bd {
	fill: rgba(255,117,117,1);
}
.btn_bd {
	position: absolute;
	overflow: visible;
	width: 128px;
	height: 42px;
	left: 0px;
	top: 0px;
}
#Visit_be {
	left: 27px;
	top: 8px;
	position: absolute;
	overflow: visible;
	width: 74px;
	height: 27px;
	text-align: center;
	font-family: Gotham;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Binged_through_all_seasons_of_ {
	left: 25px;
	top: 199px;
	position: absolute;
	overflow: visible;
	width: 244px;
	height: 67px;
	text-align: left;
	font-family: Gotham;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(0,0,0,1);
}
#TV_Shows {
	left: 97px;
	top: 170px;
	position: absolute;
	overflow: visible;
	width: 100px;
	height: 22px;
	text-align: center;
	font-family: Gotham;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#B99 {
	position: absolute;
	width: 291px;
	height: 157px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Card_4 {
	position: absolute;
	width: 291px;
	height: 339px;
	left: 1293px;
	top: 0px;
	overflow: visible;
}
#Card_base_bj {
	fill: rgba(255,255,255,1);
}
.Card_base_bj {
	filter: drop-shadow(2px 3px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 321px;
	height: 369px;
	left: 0px;
	top: 0px;
}
#Button_bk {
	position: absolute;
	width: 128px;
	height: 42px;
	left: 82px;
	top: 273px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: view;
	--web-action-target: Music;
	cursor: pointer;
}
#btn_bl {
	fill: rgba(255,117,117,1);
}
.btn_bl {
	position: absolute;
	overflow: visible;
	width: 128px;
	height: 42px;
	left: 0px;
	top: 0px;
}
#Visit_bm {
	left: 27px;
	top: 8px;
	position: absolute;
	overflow: visible;
	width: 74px;
	height: 27px;
	text-align: center;
	font-family: Gotham;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Recently_discovered_an_artist_ {
	left: 25px;
	top: 199px;
	position: absolute;
	overflow: visible;
	width: 244px;
	height: 61px;
	text-align: left;
	font-family: Gotham;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(0,0,0,1);
}
#Music {
	left: 111px;
	top: 170px;
	position: absolute;
	overflow: visible;
	width: 70px;
	height: 22px;
	text-align: center;
	font-family: Gotham;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#CP_NTM {
	position: absolute;
	width: 291px;
	height: 157px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Categories {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 108px;
	top: 540px;
	position: absolute;
	overflow: visible;
	width: 337px;
	height: 66px;
	text-align: left;
	font-family: Gotham;
	font-style: normal;
	font-weight: bold;
	font-size: 60px;
	color: rgba(255,255,255,1);
}
#Navbar {
	position: absolute;
	width: 1920px;
	height: 73px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Navbar_bs {
	position: absolute;
	width: 1920px;
	height: 73px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Navbar_bt {
	fill: rgba(255,255,255,1);
}
.Navbar_bt {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 73px;
	left: 0px;
	top: 0px;
}
#Menu {
	position: absolute;
	width: 546px;
	height: 27px;
	left: 181px;
	top: 23px;
	overflow: visible;
}
#Home_bv {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 75px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: view;
	--web-action-target: Home__1;
	cursor: pointer;
	text-align: left;
	font-family: Gotham;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
#About {
	left: 157px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 79px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: view;
	--web-action-target: About;
	cursor: pointer;
	text-align: left;
	font-family: Gotham;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
#Explore {
	left: 314px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 96px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: view;
	--web-action-target: Explore;
	cursor: pointer;
	text-align: left;
	font-family: Gotham;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
#ROTD {
	left: 471px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 76px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: view;
	--web-action-target: ROTD;
	cursor: pointer;
	text-align: left;
	font-family: Gotham;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
#Logo {
	position: absolute;
	width: 252px;
	height: 73px;
	left: 1626px;
	top: 0px;
	overflow: visible;
}
#Full_Logo {
	position: absolute;
	width: 648px;
	height: 140px;
	left: 636px;
	top: 249px;
	overflow: visible;
}
#Logo_b {
	position: absolute;
	width: 274px;
	height: 140px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Logo_Base {
	fill: rgba(255,117,117,1);
}
.Logo_Base {
	position: absolute;
	overflow: visible;
	width: 274px;
	height: 140px;
	left: 0px;
	top: 0px;
}
#Rec_Btn {
	fill: rgba(255,255,255,1);
}
.Rec_Btn {
	position: absolute;
	overflow: visible;
	width: 68px;
	height: 68px;
	left: 37px;
	top: 36px;
}
#REC {
	left: 117px;
	top: 34px;
	position: absolute;
	overflow: visible;
	width: 147px;
	height: 73px;
	text-align: center;
	font-family: Gotham;
	font-style: normal;
	font-weight: bold;
	font-size: 66px;
	color: rgba(255,255,255,1);
}
#OMMENDO {
	left: 274px;
	top: 34px;
	position: absolute;
	overflow: visible;
	width: 375px;
	white-space: nowrap;
	text-align: center;
	font-family: Gotham;
	font-style: normal;
	font-weight: bold;
	font-size: 66px;
	color: rgba(151,141,141,1);
}