.mediaViewInfo {
	--web-view-name: ROTD;
	--web-view-id: ROTD;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-application: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: ROTD;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#ROTD {
	position: absolute;
	width: 1920px;
	height: 1080px;
	background-color: rgba(227,234,249,1);
	overflow: hidden;
	--web-view-name: ROTD;
	--web-view-id: ROTD;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-application: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#ROTD_Title {
	position: absolute;
	width: 1578px;
	height: 180px;
	left: 171px;
	top: 234px;
	overflow: visible;
}
#Recommendos_of_the_day {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 108px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 1364px;
	height: 100px;
	text-align: center;
	font-family: Gotham;
	font-style: normal;
	font-weight: bold;
	font-size: 90px;
	color: rgba(255,255,255,1);
}
#Daily_Recommendos_for_you_Fres {
	left: 0px;
	top: 141px;
	position: absolute;
	overflow: visible;
	width: 1579px;
	height: 39px;
	text-align: center;
	font-family: Gotham;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(126,119,119,1);
}
#ROTD_Recs {
	position: absolute;
	width: 1408px;
	height: 539px;
	left: 257px;
	top: 472px;
	overflow: visible;
}
#Book_Rec {
	position: absolute;
	width: 289px;
	height: 539px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Book {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 53px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 184px;
	height: 66px;
	text-align: left;
	font-family: Gotham;
	font-style: normal;
	font-weight: bold;
	font-size: 60px;
	color: rgba(255,255,255,1);
}
#Poster_card {
	position: absolute;
	width: 289px;
	height: 432px;
	left: 0px;
	top: 107px;
	overflow: visible;
}
#poster {
	fill: rgba(255,255,255,1);
}
.poster {
	filter: drop-shadow(2px 3px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 317px;
	height: 462px;
	left: 2px;
	top: 0px;
}
#imghere {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 289px;
	height: 198px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Kaz_is_offered_a_chance_at_a_d {
	left: 18px;
	top: 216px;
	position: absolute;
	overflow: visible;
	width: 256px;
	height: 157px;
	text-align: left;
	font-family: Gotham;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(0,0,0,1);
}
#Movie_Rec {
	position: absolute;
	width: 289px;
	height: 539px;
	left: 373px;
	top: 0px;
	overflow: visible;
}
#Movie {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 53px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 184px;
	height: 66px;
	text-align: left;
	font-family: Gotham;
	font-style: normal;
	font-weight: bold;
	font-size: 60px;
	color: rgba(255,255,255,1);
}
#Poster_card_ {
	position: absolute;
	width: 289px;
	height: 432px;
	left: 0px;
	top: 107px;
	overflow: visible;
}
#poster_ {
	fill: rgba(255,255,255,1);
}
.poster_ {
	filter: drop-shadow(2px 3px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 317px;
	height: 462px;
	left: 2px;
	top: 0px;
}
#O11 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 289px;
	height: 198px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Danny_Ocean_wants_to_score_the {
	left: 18px;
	top: 216px;
	position: absolute;
	overflow: visible;
	width: 256px;
	height: 157px;
	text-align: left;
	font-family: Gotham;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(0,0,0,1);
}
#TV_Show_Rec {
	position: absolute;
	width: 289px;
	height: 539px;
	left: 746px;
	top: 0px;
	overflow: visible;
}
#TV_Show {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 8px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 274px;
	height: 66px;
	text-align: left;
	font-family: Gotham;
	font-style: normal;
	font-weight: bold;
	font-size: 60px;
	color: rgba(255,255,255,1);
}
#Poster_card_ba {
	position: absolute;
	width: 289px;
	height: 432px;
	left: 0px;
	top: 107px;
	overflow: visible;
}
#poster_bb {
	fill: rgba(255,255,255,1);
}
.poster_bb {
	filter: drop-shadow(2px 3px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 317px;
	height: 462px;
	left: 2px;
	top: 0px;
}
#suits {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 289px;
	height: 198px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#While_running_from_a_drug_deal {
	left: 18px;
	top: 216px;
	position: absolute;
	overflow: visible;
	width: 256px;
	height: 177px;
	text-align: left;
	font-family: Gotham;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(0,0,0,1);
}
#Song_Rec {
	position: absolute;
	width: 289px;
	height: 539px;
	left: 1119px;
	top: 0px;
	overflow: visible;
}
#Song {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 49px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 192px;
	height: 66px;
	text-align: left;
	font-family: Gotham;
	font-style: normal;
	font-weight: bold;
	font-size: 60px;
	color: rgba(255,255,255,1);
}
#Poster_card_bg {
	position: absolute;
	width: 289px;
	height: 432px;
	left: 0px;
	top: 107px;
	overflow: visible;
}
#poster_bh {
	fill: rgba(255,255,255,1);
}
.poster_bh {
	filter: drop-shadow(2px 3px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 317px;
	height: 462px;
	left: 2px;
	top: 0px;
}
#akuthu {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 289px;
	height: 198px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Halamithi_Habibo_is_a_recent_T {
	left: 18px;
	top: 216px;
	position: absolute;
	overflow: visible;
	width: 256px;
	height: 157px;
	text-align: left;
	font-family: Gotham;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(0,0,0,1);
}
#Navbar {
	position: absolute;
	width: 1920px;
	height: 73px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Navbar_bl {
	position: absolute;
	width: 1920px;
	height: 73px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Navbar_bm {
	fill: rgba(255,255,255,1);
}
.Navbar_bm {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 73px;
	left: 0px;
	top: 0px;
}
#Menu {
	position: absolute;
	width: 546px;
	height: 27px;
	left: 181px;
	top: 23px;
	overflow: visible;
}
#Home {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 75px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: view;
	--web-action-target: Home__1;
	cursor: pointer;
	text-align: left;
	font-family: Gotham;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
#About {
	left: 157px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 79px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: view;
	--web-action-target: About;
	cursor: pointer;
	text-align: left;
	font-family: Gotham;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
#Explore {
	left: 314px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 96px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: view;
	--web-action-target: Explore;
	cursor: pointer;
	text-align: left;
	font-family: Gotham;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
#ROTD_br {
	left: 471px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 76px;
	white-space: nowrap;
	text-align: left;
	font-family: Gotham;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
#Logo {
	position: absolute;
	width: 252px;
	height: 73px;
	left: 1626px;
	top: 0px;
	overflow: visible;
}