<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" type="text/css" id="applicationStylesheet" href="{{ url_for('static', filename='styles/About.css') }}" />
    <link rel="stylesheet" type="text/css" id="applicationStylesheet" href="{{ url_for('static', filename='styles/common.css') }}" />
    <script id="applicationScript" type="text/javascript" src="{{ url_for('static', filename='js/About.js') }}"></script>
</head>

<body>
    <div id="About">
        <div id="About_Recommendo">
            <span>About Recommendo</span>
        </div>
        <div id="Recommendo_is_the_brain-child_">
            <span>Recommendo is the brain-child of three B.Tech CSE students, <br/>who wished to change the way people found entertainment recommendations on the internet.</span>
        </div>
        <div id="Our_Vision">
            <span>Our Vision</span>
        </div>
        <div id="Imagine_a_user_watches_a_movie">
            <span>Imagine a user watches a movie/TV show, reads a book, or even listens to a particular song, and they realise that they really really liked it. They then head on to the internet and look for other movies/books/songs like the one they just checked out, hoping that they’d find something similarly enjoyable. For this, they heavily rely on blog articles or entertainment websites. However, there is a good chance that they might not find much, especially if the movie they just watched isn’t as popular or mainstream as many others. This is where our recommendation system comes into play. <br/><br/>By employing this, we strive to keep users happy and provide them with recommendations curated with their interests in mind. There aren’t exactly any major recommendation systems in place right now, leaving a lot of movie buffs and music fanatics at the mercy of vague blog posts that Google deems useful.</span><br/>
        </div>
        <div id="Navbar" class="Navbar">
            <div id="Navbar_x">
                <svg class="Navbar_y">
				<rect id="Navbar_y" rx="0" ry="0" x="0" y="0" width="1920" height="73">
				</rect>
			</svg>
                <div id="Menu">
                    <div onclick="window.location.href='Home.html'" id="Home">
                        <span>Home</span>
                    </div>
                    <div onclick="window.location.href='About.html'" id="About_">
                        <span>About</span>
                    </div>
                    <div onclick="window.location.href='Explore.html'" id="Explore">
                        <span>Explore</span>
                    </div>
                    <div onclick="window.location.href='ROTD.html'" id="ROTD">
                        <span>ROTD</span>
                    </div>
                </div>
            </div>
            <img id="Logo" src="{{ url_for('static', filename='Logo.png') }}" srcset="{{ url_for('static', filename='Logo.png') }}, {{ url_for('static', filename='Logo@2x.png') }}">

        </div>
    </div>
</body>

</html>