<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Solo</title>
    <link rel="stylesheet" type="text/css" id="applicationStylesheet" href="{{ url_for('static', filename='styles/Movie_Solo.css') }}" />
    <link rel="stylesheet" type="text/css" id="applicationStylesheet" href="{{ url_for('static', filename='styles/common.css') }}" />
    <script id="applicationScript" type="text/javascript" src="{{ url_for('static', filename='js/Movie_Solo.js') }}"></script>
</head>

<body>
    <div id="Movie_Solo">
        <div id="OOUIL_BC" class="OOUIL_BC">
            <img id="Free_Guy_1" src="{{ url_for('static', filename='Free_Guy_1.png') }}" srcset="{{ url_for('static', filename='Free_Guy_1.png') }}, {{ url_for('static', filename='Free_Guy_1@2x.png') }}">

        </div>
        <div id="Blurb" class="Blurb">
            <div id="About_Book">
                <svg class="Book_Descr">
				<rect id="Book_Descr" rx="40" ry="40" x="0" y="0" width="1060" height="516">
				</rect>
			</svg>
            </div>
            <div id="Book_Blurb_Content">
                <div id="Free_Guy">
                    <span>Free Guy</span>
                </div>
                <div id="Shawn_Levy">
                    <span>Shawn Levy</span>
                </div>
                <div id="When_a_bank_teller_discovers_h">
                    <span>When a bank teller discovers he's actually a background player in an open-world <br/>video game, he decides to become the hero of his own story -- one that he can <br/>rewrite himself. <br/><br/>In a world where there's no limits, he's determined to save the day <br/>his way before it's too late, and maybe find a little romance with the coder who conceived him.</span>
                </div>
            </div>
        </div>
        <div id="RSBtnG">
            <svg class="RScoreBttn">
			<rect id="RScoreBttn" rx="71" ry="71" x="0" y="0" width="347" height="142">
			</rect>
		</svg>
            <div id="Recommendo_Score">
                <span>Recommendo Score</span>
            </div>
            <div id="n_7100">
                <span>97/100</span>
            </div>
        </div>
        <div id="RS_Ribbon" class="RS_Ribbon">
            <div id="Ribbon">
                <svg class="Sleeve1" viewBox="-2754.787 2756.455 92.287 154.094">
				<path id="Sleeve1" d="M -2717.32373046875 2756.455078125 C -2766.31591796875 2894.353515625 -2754.9609375 2909.023681640625 -2750.0947265625 2910.49072265625 C -2745.228515625 2911.95751953125 -2735.49560546875 2885.551513671875 -2735.49560546875 2885.551513671875 L -2717.32373046875 2910.49072265625 L -2707.91943359375 2885.551513671875 L -2693.3203125 2910.49072265625 L -2662.5 2756.455078125 L -2717.32373046875 2756.455078125 Z">
				</path>
			</svg>
                <svg class="Sleeve2" viewBox="-2754.787 2756.455 92.287 154.094">
				<path id="Sleeve2" d="M -2699.962890625 2756.455078125 C -2650.970703125 2894.353515625 -2662.32568359375 2909.023681640625 -2667.19189453125 2910.49072265625 C -2672.05810546875 2911.95751953125 -2681.791015625 2885.551513671875 -2681.791015625 2885.551513671875 L -2699.962890625 2910.49072265625 L -2709.3671875 2885.551513671875 L -2723.96630859375 2910.49072265625 L -2754.78662109375 2756.455078125 L -2699.962890625 2756.455078125 Z">
				</path>
			</svg>
                <svg class="OuterC" viewBox="0 0 209 209">
				<path id="OuterC" d="M 104.5 0 C 162.2137603759766 0 209 46.7862434387207 209 104.5 C 209 162.2137603759766 162.2137603759766 209 104.5 209 C 46.7862434387207 209 0 162.2137603759766 0 104.5 C 0 46.7862434387207 46.7862434387207 0 104.5 0 Z">
				</path>
			</svg>
                <svg class="InnerC">
				<ellipse id="InnerC" rx="83.5" ry="83.5" cx="83.5" cy="83.5">
				</ellipse>
			</svg>
            </div>
            <div id="Text">
                <div id="Recommendo_Score_bc">
                    <span>Recommendo Score</span>
                </div>
                <div id="n_5100">
                    <span>95/100</span>
                </div>
            </div>
        </div>
        <div onclick="window.location.href='Movies.html'" id="Back_Button" class="Back_Button">
            <svg class="BtnBase">
			<rect id="BtnBase" rx="47" ry="47" x="0" y="0" width="306" height="94">
			</rect>
		</svg>
            <div id="Back">
                <span>Back</span>
            </div>
        </div>
        <div id="Navbar" class="Navbar">
            <div id="Navbar_bi">
                <svg class="Navbar_bj">
				<rect id="Navbar_bj" rx="0" ry="0" x="0" y="0" width="1920" height="73">
				</rect>
			</svg>
                <div id="Menu">
                    <div onclick="window.location.href='Home.html'" id="Home">
                        <span>Home</span>
                    </div>
                    <div onclick="window.location.href='About.html'" id="About">
                        <span>About</span>
                    </div>
                    <div onclick="window.location.href='Explore.html'" id="Explore">
                        <span>Explore</span>
                    </div>
                    <div onclick="window.location.href='ROTD.html'" id="ROTD">
                        <span>ROTD</span>
                    </div>
                </div>
            </div>
            <img id="Logo" src="{{ url_for('static', filename='Logo.png') }}" srcset="{{ url_for('static', filename='Logo.png') }}, {{ url_for('static', filename='Logo@2x.png') }}">

        </div>
    </div>
</body>

</html>