<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music</title>
    <link rel="stylesheet" type="text/css" id="applicationStylesheet" href="{{ url_for('static', filename='styles/Music.css') }}" />
    <link rel="stylesheet" type="text/css" id="applicationStylesheet" href="{{ url_for('static', filename='styles/common.css') }}" />
    <script id="applicationScript" type="text/javascript" src="{{ url_for('static', filename='js/Music.js') }}"></script>
</head>

<body>
    <div id="Music">
        <div id="Trending_Today">
            <span>Trending Today</span>
        </div>
        <div id="Curated_for_you">
            <span>Curated for you</span>
        </div>
        <div id="Trending_Set">
            <div id="Trend_Card" class="Trend_Card">
                <img id="Album_Base" src="{{ url_for('static', filename='Album_base.png') }}" srcset="{{ url_for('static', filename='Album_Base.png') }}, {{ url_for('static', filename='Album_Base@2x.png') }}">

                <div id="n_">
                    <span>1</span>
                </div>
            </div>
            <div id="Trend_Card_y" class="Trend_Card">
                <img id="Album_Base_z" src="{{ url_for('static', filename='Album_Base_z.png') }}" srcset="{{ url_for('static', filename='Album_Base_z.png') }}, {{ url_for('static', filename='Album_Base_z@2x.png') }}">

                <div id="n__">
                    <span>2</span>
                </div>
            </div>
            <div id="Trend_Card_" class="Trend_Card">
                <img id="Album_Base_" src="{{ url_for('static', filename='Album_Base_.png') }}" srcset="{{ url_for('static', filename='Album_Base_.png') }}, {{ url_for('static', filename='Album_Base_@2x.png') }}">

                <div id="n__ba">
                    <span>3</span>
                </div>
            </div>
            <div id="Trend_Card_ba" class="Trend_Card">
                <img id="Album_Base_ba" src="{{ url_for('static', filename='Album_Base_ba.png') }}" srcset="{{ url_for('static', filename='Album_Base_ba.png') }}, {{ url_for('static', filename='Album_Cover_ba@2x.png') }}">

                <div id="n__bb">
                    <span>4</span>
                </div>
            </div>
        </div>
        <div id="Curation_Card_Set">
            <div id="Curation_Card" class="Curation_Card">
                <svg class="Full">
				<rect id="Full" rx="89" ry="89" x="0" y="0" width="485" height="705">
				</rect>
			</svg>
                <img id="Half" src="{{ url_for('static', filename='Mus.png') }}" srcset="{{ url_for('static', filename='Mus.png') }}, {{ url_for('static', filename='Mus@2x.png') }}">

                <div id="We_Dont_Talk_Anymore_Charlie_P">
                    <span>We Don't Talk Anymore</span><br/><span style="font-style:normal;font-weight:normal;font-size:18px;">Charlie Puth ft. Selena Gomez<br/></span><br/><span style="font-style:normal;font-weight:normal;font-size:16px;">What do you say when someone who once meant the world to you, cuts you off? We don't talk anymore.</span><br/>
                    <span style="font-style:normal;font-weight:normal;"></span><br/><span>Genres: </span><span style="font-style:normal;font-weight:normal;font-size:18px;">Pop</span>
                </div>
                <div onclick="window.location.href='Song_Solo.html'" id="ReadMoreButton">
                    <svg class="Rectangle_8">
					<rect id="Rectangle_8" rx="24.5" ry="24.5" x="0" y="0" width="174" height="49">
					</rect>
				</svg>
                    <div id="Read_More">
                        <span>Read More</span>
                    </div>
                </div>
            </div>
            <div id="Curation_Card_bf" class="Curation_Card">
                <svg class="Full_bg">
				<rect id="Full_bg" rx="89" ry="89" x="0" y="0" width="485" height="705">
				</rect>
			</svg>
                <img id="Half_bh" src="{{ url_for('static', filename='Mus_bh.png') }}" srcset="{{ url_for('static', filename='Mus_bh.png') }}, {{ url_for('static', filename='Mus_bh@2x.png') }}">

                <div id="Amma_Song_Sid_Sriram_Jakes_Bej">
                    <span>Amma Song</span><br/><span style="font-style:normal;font-weight:normal;font-size:18px;">Sid Sriram, Jakes Bejoy<br/></span><br/><span style="font-style:normal;font-weight:normal;font-size:16px;">Mother is a child's first love, and the child is a mother's last love.</span><br/>
                    <span style="font-style:normal;font-weight:normal;font-size:18px;"></span><br/><span>Genres: </span><span style="font-style:normal;font-weight:normal;font-size:18px;">Film Pop, Semi-classical</span>
                </div>
                <div id="ReadMoreButton_bj">
                    <svg class="Rectangle_8_bk">
					<rect id="Rectangle_8_bk" rx="24.5" ry="24.5" x="0" y="0" width="174" height="49">
					</rect>
				</svg>
                    <div id="Read_More_bl">
                        <span>Read More</span>
                    </div>
                </div>
            </div>
            <div id="Curation_Card_bm" class="Curation_Card">
                <svg class="Full_bn">
				<rect id="Full_bn" rx="89" ry="89" x="0" y="0" width="485" height="705">
				</rect>
			</svg>
                <img id="Half_bo" src="{{ url_for('static', filename='Mus_bo.png') }}" srcset="{{ url_for('static', filename='Mus_bo.png') }}, {{ url_for('static', filename='Mus_bo@2x.png') }}">

                <div id="Cute_Ponnu_Anirudh_Ravichander">
                    <span>Cute Ponnu</span><br/><span style="font-style:normal;font-weight:normal;font-size:18px;">Anirudh Ravichander, Vivek-Mervin<br/></span><br/><span style="font-style:normal;font-weight:normal;font-size:16px;">The hit dance number from the film Enna Solla Pogirai, performed by Anirudh Ravichander.</span>
                    <span style="font-style:normal;font-weight:lighter;font-size:16px;"></span><span style="font-style:normal;font-weight:normal;font-size:16px;"></span><br/><span style="font-style:normal;font-weight:normal;"></span><br/><span>Genres: </span>
                    <span style="font-style:normal;font-weight:normal;font-size:18px;">Film Pop, EDM, Dance Pop</span>
                </div>
                <div id="ReadMoreButton_bq">
                    <svg class="Rectangle_8_br">
					<rect id="Rectangle_8_br" rx="24.5" ry="24.5" x="0" y="0" width="174" height="49">
					</rect>
				</svg>
                    <div id="Read_More_bs">
                        <span>Read More</span>
                    </div>
                </div>
            </div>
        </div>
        <div id="Hero_Section" class="Hero_Section">
            <img id="music" src="{{ url_for('static', filename='music.png') }}" srcset="{{ url_for('static', filename='music.png') }}, {{ url_for('static', filename='music@2x.png') }}">

        </div>
        <div id="Navbar" class="Navbar">
            <div id="Navbar_bw">
                <svg class="Navbar_bx">
				<rect id="Navbar_bx" rx="0" ry="0" x="0" y="0" width="1920" height="73">
				</rect>
			</svg>
                <div id="Menu">
                    <div onclick="window.location.href='Home.html'" id="Home">
                        <span>Home</span>
                    </div>
                    <div onclick="window.location.href='About.html'" id="About">
                        <span>About</span>
                    </div>
                    <div onclick="window.location.href='Explore.html'" id="Explore">
                        <span>Explore</span>
                    </div>
                    <div onclick="window.location.href='ROTD.html'" id="ROTD">
                        <span>ROTD</span>
                    </div>
                </div>
            </div>
            <img id="Logo" src="{{ url_for('static', filename='Logo.png') }}" srcset="{{ url_for('static', filename='Logo.png') }}, {{ url_for('static', filename='Logo@2x.png') }}">

        </div>
    </div>
</body>

</html>