<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TV Shows</title>
    <link rel="stylesheet" type="text/css" id="applicationStylesheet" href="{{ url_for('static', filename='styles/TV_Shows.css') }}" />
    <link rel="stylesheet" type="text/css" id="applicationStylesheet" href="{{ url_for('static', filename='styles/common.css') }}" />
    <script id="applicationScript" type="text/javascript" src="{{ url_for('static', filename='js/TV_Shows.js') }}"></script>
</head>

<body>
    <div id="TV_Shows">
        <div id="Trending_Today">
            <span>Trending Today</span>
        </div>
        <div id="Curated_for_you">
            <span>Curated for you</span>
        </div>
        <div id="Trending_Set">
            <div id="Trend_Card" class="Trend_Card">
                <img id="Cover_Base" src="{{ url_for('static', filename='Show_Base.png') }}" srcset="{{ url_for('static', filename='Show_Base.png') }}, {{ url_for('static', filename='Show_Base@2x.png') }}">

                <div id="n_">
                    <span>1</span>
                </div>
            </div>
            <div id="Trend_Card_y" class="Trend_Card">
                <img id="Cover_Base_z" src="{{ url_for('static', filename='Show_Base_z.png') }}" srcset="{{ url_for('static', filename='Show_Base_z.png') }}, {{ url_for('static', filename='Show_Base_z@2x.png') }}">

                <div id="n__">
                    <span>2</span>
                </div>
            </div>
            <div id="Trend_Card_" class="Trend_Card">
                <img id="Cover_Base_" src="{{ url_for('static', filename='Show_Base_.png') }}" srcset="{{ url_for('static', filename='Show_Base_.png') }}, {{ url_for('static', filename='Show_Base_@2x.png') }}">

                <div id="n__ba">
                    <span>3</span>
                </div>
            </div>
            <div id="Trend_Card_ba" class="Trend_Card">
                <img id="Cover_Base_ba" src="{{ url_for('static', filename='Show_Base_ba.png') }}" srcset="{{ url_for('static', filename='Show_Base_ba.png') }}, {{ url_for('static', filename='Show_Base_ba@2x.png') }}">

                <div id="n__bb">
                    <span>4</span>
                </div>
            </div>
        </div>
        <div id="Curation_Card_Set">
            <div id="Curation_Card" class="Curation_Card">
                <svg class="Full">
				<rect id="Full" rx="89" ry="89" x="0" y="0" width="485" height="705">
				</rect>
			</svg>
                <img id="Half" src="{{ url_for('static', filename='TV.png') }}" srcset="{{ url_for('static', filename='TV.png') }}, {{ url_for('static', filename='TV@2x.png') }}">

                <div id="Brooklyn_Nine-Nine_Dan_Goor__M">
                    <span>Brooklyn Nine-Nine</span><br/><span style="font-style:normal;font-weight:normal;font-size:18px;">Dan Goor & Michael Schur<br/></span><br/><span style="font-style:normal;font-weight:normal;font-size:13px;">Comedy series following the exploits of Det. Jake Peralta and his diverse, lovable colleagues as they police the NYPD's 99th Precinct.</span><br/>
                    <span style="font-style:normal;font-weight:normal;"></span><br/><span>Genres: </span><span style="font-style:normal;font-weight:normal;font-size:18px;">Comedy, Crime</span>
                </div>
                <div onclick="window.location.href='TV_Show_Solo'" id="ReadMoreButton">
                    <svg class="Rectangle_8">
					<rect id="Rectangle_8" rx="24.5" ry="24.5" x="0" y="0" width="174" height="49">
					</rect>
				</svg>
                    <div id="Read_More">
                        <span>Read More</span>
                    </div>
                </div>
            </div>
            <div id="Curation_Card_bf" class="Curation_Card">
                <svg class="Full_bg">
				<rect id="Full_bg" rx="89" ry="89" x="0" y="0" width="485" height="705">
				</rect>
			</svg>
                <img id="Half_bh" src="{{ url_for('static', filename='TV_bh.png') }}" srcset="{{ url_for('static', filename='TV_bh.png') }}, {{ url_for('static', filename='TV_bh@2x.png') }}">

                <div id="Panchayat_Deepak_Kumar_Mishra_">
                    <span>Panchayat</span><br/><span style="font-style:normal;font-weight:normal;font-size:18px;">Deepak Kumar Mishra<br/></span><br/><span style="font-style:normal;font-weight:normal;font-size:13px;">A comedy-drama following Abhishek, who joins as secretary of a Panchayat office in a remote village of Uttar Pradesh.</span><br/>
                    <span style="font-style:normal;font-weight:normal;font-size:18px;"></span><br/><span>Genres: </span><span style="font-style:normal;font-weight:normal;font-size:18px;">Comedy, Drama</span>
                </div>
                <div id="ReadMoreButton_bj">
                    <svg class="Rectangle_8_bk">
					<rect id="Rectangle_8_bk" rx="24.5" ry="24.5" x="0" y="0" width="174" height="49">
					</rect>
				</svg>
                    <div id="Read_More_bl">
                        <span>Read More</span>
                    </div>
                </div>
            </div>
            <div id="Curation_Card_bm" class="Curation_Card">
                <svg class="Full_bn">
				<rect id="Full_bn" rx="89" ry="89" x="0" y="0" width="485" height="705">
				</rect>
			</svg>
                <img id="Half_bo" src="{{ url_for('static', filename='TV_bo.png') }}" srcset="{{ url_for('static', filename='TV_bo.png') }}, {{ url_for('static', filename='TV_bo@2x.png') }}">

                <div id="Special_OPS_Neeraj_Pandey__The">
                    <span>Special OPS</span><br/><span style="font-style:normal;font-weight:normal;font-size:18px;">Neeraj Pandey<br/></span><br/><span style="font-style:normal;font-weight:normal;font-size:13px;">The series follows Himmat Singh of RAW who draws similar patterns in terrorist attacks and is convinced a single person is behind them.</span><br/>
                    <span style="font-style:normal;font-weight:normal;"></span><br/><span>Genres: </span><span style="font-style:normal;font-weight:normal;font-size:18px;">Action, Crime, Thriller</span>
                </div>
                <div id="ReadMoreButton_bq">
                    <svg class="Rectangle_8_br">
					<rect id="Rectangle_8_br" rx="24.5" ry="24.5" x="0" y="0" width="174" height="49">
					</rect>
				</svg>
                    <div id="Read_More_bs">
                        <span>Read More</span>
                    </div>
                </div>
            </div>
        </div>
        <div id="Hero_Section" class="Hero_Section">
            <img id="tv_show" src="{{ url_for('static', filename='tv_show.png') }}" srcset="{{ url_for('static', filename='tv_show.png') }}, {{ url_for('static', filename='tv_show@2x.png') }}">

        </div>
        <div id="Navbar" class="Navbar">
            <div id="Navbar_bw">
                <svg class="Navbar_bx">
				<rect id="Navbar_bx" rx="0" ry="0" x="0" y="0" width="1920" height="73">
				</rect>
			</svg>
                <div id="Menu">
                    <div onclick="window.location.href='Home'" id="Home">
                        <span>Home</span>
                    </div>
                    <div onclick="window.location.href='About'" id="About">
                        <span>About</span>
                    </div>
                    <div onclick="window.location.href='Explore'" id="Explore">
                        <span>Explore</span>
                    </div>
                    <div onclick="window.location.href='ROTD'" id="ROTD">
                        <span>ROTD</span>
                    </div>
                </div>
            </div>
            <img id="Logo" src="{{ url_for('static', filename='Logo.png') }}" srcset="{{ url_for('static', filename='Logo.png') }}, {{ url_for('static', filename='Logo@2x.png') }}">

        </div>
    </div>
</body>

</html>