.mediaViewInfo {
	--web-view-name: About;
	--web-view-id: About;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-application: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: About;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#About {
	position: absolute;
	width: 1920px;
	height: 1080px;
	background-color: rgba(227,234,249,1);
	overflow: hidden;
	--web-view-name: About;
	--web-view-id: About;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-application: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#About_Recommendo {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 478px;
	top: 203px;
	position: absolute;
	overflow: visible;
	width: 966px;
	height: 100px;
	text-align: center;
	font-family: Gotham;
	font-style: normal;
	font-weight: bold;
	font-size: 90px;
	color: rgba(255,255,255,1);
}
#Recommendo_is_the_brain-child_ {
	left: 410px;
	top: 348px;
	position: absolute;
	overflow: visible;
	width: 1101px;
	white-space: nowrap;
	text-align: center;
	font-family: Gotham;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(126,119,119,1);
}
#Our_Vision {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 169px;
	top: 474px;
	position: absolute;
	overflow: visible;
	width: 337px;
	height: 66px;
	text-align: left;
	font-family: Gotham;
	font-style: normal;
	font-weight: bold;
	font-size: 60px;
	color: rgba(255,255,255,1);
}
#Imagine_a_user_watches_a_movie {
	left: 169px;
	top: 588px;
	position: absolute;
	overflow: visible;
	width: 1583px;
	height: 198px;
	text-align: left;
	font-family: Gotham;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(126,119,119,1);
}
#Navbar {
	position: absolute;
	width: 1920px;
	height: 73px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Navbar_x {
	position: absolute;
	width: 1920px;
	height: 73px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Navbar_y {
	fill: rgba(255,255,255,1);
}
.Navbar_y {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 73px;
	left: 0px;
	top: 0px;
}
#Menu {
	position: absolute;
	width: 546px;
	height: 27px;
	left: 181px;
	top: 23px;
	overflow: visible;
}
#Home {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 75px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: view;
	--web-action-target: Home__1;
	cursor: pointer;
	text-align: left;
	font-family: Gotham;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
#About_ {
	left: 157px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 79px;
	white-space: nowrap;
	text-align: left;
	font-family: Gotham;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
#Explore {
	left: 314px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 96px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: view;
	--web-action-target: Explore;
	cursor: pointer;
	text-align: left;
	font-family: Gotham;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
#ROTD {
	left: 471px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 76px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: view;
	--web-action-target: ROTD;
	cursor: pointer;
	text-align: left;
	font-family: Gotham;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
#Logo {
	position: absolute;
	width: 252px;
	height: 73px;
	left: 1626px;
	top: 0px;
	overflow: visible;
}