body {
  overflow-x: hidden; 
}

.link {
    padding: 10px;
    margin-right: 10px;
    text-align: right;
    text-decoration: none;
    text-transform: capitalize;
    color: #707070;
    font-style: bold;
    font-family: Gotham;
}